/* Global */
::-webkit-scrollbar {
  display: none;
}

/* React Components */

.ProductEntry-Thumbnail{
  height: 100px;
  width: 100px;
}

.ProductList {
  display: flex;
  width: 900px;
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.ProductEntry-Container {
  padding: 50px;
  width: 400px;
  height: 200px;
}

.ProductEntry-Image {
  cursor: pointer;
  text-align: center;
}

.ProductEntry-Name {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.ProductEntry-Price {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.ButtonLeft{
  border-radius: 5px;
  background-color: aquamarine;
  width: 50px;
  height: 200px;
}

.ButtonRight{
  border-radius: 5px;
  background-color: aquamarine;
  width: 50px;
  height: 200px;
}

.RelatedProducts{
  display: flex;
}