/* React Components */

.RelatedProducts-App-Container {
  display: flex;
  justify-content: center;
}

.CAB-Panel {
}

.CAB-Text {
  position: relative;
  left: 20%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: mediumaquamarine;
}

.ProductEntry-Thumbnail{
  height: 100px;
  width: 100px;
}

#ProductList {
  scroll-behavior: smooth;
  display: flex;
  width: 900px;
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#ProductList::-webkit-scrollbar {
  display: none;
}

.ProductEntry-Container {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 400px;
  height: 200px;
}

.ProductEntry-Image {
  cursor: pointer;
  text-align: center;
}

.ProductEntry-Name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(72, 72, 255);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.ProductEntry-Container:hover > .ProductEntry-Name{
  text-decoration: underline;
  color: rgb(214, 139, 0); 
}

.ProductEntry-Price {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.ButtonLeft{
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 25px;
  right: 25px;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(139, 139, 139);
  width: 50px;
  height: 100px;
  text-align: center;
  outline: none;
}

.ButtonLeft:focus{
  outline: none;
}

.ButtonRight{
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 25px;
  left: 25px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(139, 139, 139);
  width: 50px;
  height: 100px;
  text-align: center;
}

.ButtonRight:focus{
  outline: none;
}

.RelatedProducts{
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}
